[run]
branch = True
source =
  ttsforge

omit =
  # omit all manifest files
  */__init__.py
  */__manifest__.py
  # omit all test files
  */tests/*
  */coverage/*

[report]

ignore_errors = True
fail_under = 55
precision = 1
